.carruseles-grid {
  margin-top: -6rem;
}

.carrousel-container {
  position: relative;
  z-index: 3;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  padding-left: 1.6rem;
}

.carrousel-container .title {
  margin-bottom: -3rem;
  font-size: 1em;
  color: azure;
}

.carrousel {
  display: flex;
  position: relative;
  transition: transform 0.4s;
  margin-top: 2rem;
  padding: 2rem 0 7rem 0;
  margin-right: 2px;
}

.carrousel:hover {
  transition: transform 0.4s;
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transform: scale(1.2);
  -webkit-filter: brightness(1.1);
}

.poster {
  border-radius: 3px;
}

.box {
  display: none;
  background-color: #111;
  flex-direction: row;
  height: 4rem;
  transition-timing-function: ease-in-out;
  transition: all 0.5s;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0.5rem;
  justify-content: space-between;
}

.box p {
  color: azure;
  font-size: small;
  max-width: 80%;
}

.carrousel:hover .box {
  display: flex;
}

.react-multi-carousel-item--active:hover {
  z-index: 1000;
}

.carrousel:hover .poster {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.modalBoton {
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 1px solid gainsboro;
  height: 1.5rem;
  transition-timing-function: ease-in-out;
  transition: all 0.5s;
}

.carrousel img:hover {
  transition: transform 0.4s;
  display: flex;
  z-index: 6;
  box-shadow: 2px 2px 37px 7px rgba(0, 0, 0, 0.83);
  -webkit-box-shadow: 2px 2px 37px 7px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: 2px 2px 37px 7px rgba(0, 0, 0, 0.83);
}

#populars {
  z-index: 5;
}

#hollywood {
  z-index: 4;
  margin-top: -5rem;
}

#toprated {
  z-index: 3;
  margin-top: -5rem;
}
