.searchBar {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  margin-right: 1rem;
  align-items: center;
  border: 1px solid azure;
  background-color: black;
  padding: 0;
  height: 26px;
}

.search {
  padding: 0.5rem 1rem;
  height: 26px;
  font-size: small;
  color: azure;
  border: none;
  background-color: black;
}

.navbarIcon {
  height: 26px;
  background-color: black;
  width: 26px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.navito {
  text-decoration: none;
}

.nav-button-container {
  display: flex;
  align-items: center;
}

.nav-button {
  color: white;
  padding-top: 0.7rem;
  padding-left: 0.8rem;
  font-size: small;
}

.nav-black {
  display: flex;
  justify-content: space-between;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-logo {
  font-weight: bold;
  color: rgba(255, 0, 0, 0.825);
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0rem 0.1rem 1.1rem;
}
